{{ 'middle-image-section.css' | asset_url | stylesheet_tag }}

{%- style -%}
  #middle-section-{{ section.id }} {
    background-color: {{ section.settings.background_color | default: '#222A37' }};
  }
{%- endstyle -%}

<section id="middle-section-{{ section.id }}" class="middle-image-wrapper middle-image-section">
  {%- if section.settings.image != blank -%}
    {{
      section.settings.image
      | image_url: width: 2000
      | image_tag:
        loading: 'lazy',
        class: 'middle-centered-image',
        widths: '375, 550, 750, 1100, 1500, 1780, 2000, 3000',
        sizes: '(max-width: 768px) 80vw, 50vw'
    }}
  {%- else -%}
    <img
      src="{{ 'middle-image-section.jpg' | asset_url }}"
      width="1200"
      height="800"
      alt="Middle Image"
      loading="lazy"
      class="middle-centered-image"
    >
  {%- endif -%}
</section>

{% schema %}
{
  "name": "Middle Image Section",
  "settings": [
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color",
      "default": "#222A37"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    }
  ],
  "presets": [
    {
      "name": "Middle Image Section"
    }
  ]
}
{% endschema %}
